# ======================
# IntelliJ IDEA
# ======================
.idea/
*.iml
*.ipr
*.iws

# ======================
# Gradle
# ======================
.gradle/
build/

# ======================
# Java
# ======================
*.class
*.log

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Misc
# ======================
out/
